<!DOCTYPE html>
<html>
<head>
  <title>HomeWork W3</title>
  <link rel="stylesheet" type="text/css" href="/style.css">

</head>
<body>

<header>
  <div>
    <ul>
      <li><a href="/">Homepage</a></li>
      <li><a href="address">Address</a></li>
      <li><a href="https://en.wikipedia.org/wiki/Hyper_Text_Coffee_Pot_Control_Protocol">Coffee</a></li>
    </ul>
  </div>

</header>

  <h1>Own Page</h1>
  <%= yield %>

</body>
</html>