body {
  background-color: #558a86;
  margin: 20px;
}

header {
  height: 100px;
  background-color: #08327d;
  }

header div ul {
  font-size: 1.5em;
  display: inline-block;
}

header div ul li {
  display: inline;
}

header div ul li a {
  color: white;
  text-decoration: none;
}

header div ul li a:hover {
  color: orange;
}